# Игнорирай абсолютно всичко по подразбиране
*

# Но направи изключение за папките (за да може Git да влиза в тях)
!*/

# Направи изключение за самите .gitignore файлове
!.gitignore

# Позволи САМО .h и .cpp файлове навсякъде в проекта
!*.h
!*.cpp